.simply-countdown {
  overflow: hidden;
  display: table;
  margin-left: auto; /* Memastikan tetap di tengah */
  margin-right: auto; /* Memastikan tetap di tengah */
  margin-top: auto; /* Atau bisa disetel sesuai kebutuhan */
  margin-bottom: 50px; /* **Ganti 50px dengan ukuran yang Anda inginkan** */
}
.simply-countdown > .simply-section {
  width: 30px;
  height: 30px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: var(--pink);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.6rem;
}
